<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<body>
<style>
    body #createPermissionForm{
        margin: 20px;
    }

    body #createPermissionForm div{
        margin-bottom: 20px;
    }

</style>
<form id='createPermissionForm'>
    <div class='form-line'>
        <label for='name'>父级节点</label>
        <input id='name' class='easyui-textbox' name='name' data-options='required:true'>
    </div>
    <div class='form-line'>
        <label for='name'>权限名称</label>
        <input id='name' class='easyui-textbox' name='name' data-options='required:true'>
    </div>
    <div class='form-line'>
        <label for='name'>默认展开</label>
        <input id='name' class='easyui-textbox' name='name' data-options='required:true'>
    </div>
    <div class='form-line'>
        <label for='name'>事件地址</label>
        <input id='name' class='easyui-textbox' name='name' data-options='required:true'>
    </div>
    <div class='form-line'>
        <label for='name'>图标样式</label>
        <input id='name' class='easyui-textbox' name='name' data-options='required:true'>
    </div>
    <div class='form-line'>
        <label for='name'>权限状态</label>
        <input id='name' class='easyui-textbox' name='name' data-options='required:true'>
    </div>
</form>
</body>