<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="copyright" content="www.crystal-home.cn">
    <meta http-equiv="cache-control" content="no-store">

    <title>控制台</title>

    <link id="style" rel="stylesheet" type="text/css" href="/jqueryPlugins/jquery-easyui-1.7.0/css/easyui-them-gray.css">
    <link rel="stylesheet" type="text/css" href="/jqueryPlugins/jquery-easyui-1.7.0/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/jqueryPlugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/javascript/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/jqueryPlugins/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/jqueryPlugins/jquery-easyui-1.7.0/easyui-lang-zh_CN.js"></script>
</head>
<body>

    <table id="easyUiPermission" />

    <script type="text/javascript">
        $('#easyUiPermission').treegrid({
            url:'/permission/getPermissionTreeGrid',
            method:'post',
            loadMsg:'正在加载',
            idField:'id',
            fit:true,
            fitColumns:true,
            rownumbers:true,
            striped:true,
            checkOnSelect:true,
            treeField:'name',
            checkbox:true,
            // onlyLeafCheck:true,
            lines:true,
            animate:true,
            columns:[
                [
                    {field:'name',title:'权限名称',width:80},
                    {title:'唯一标识',field:'id',width:80},
                    {title:'父节点标识',field:'pid',width:80},
                    {field:'state',title:'折叠状态',width:80,formatter: function(value,row,index){
                            if (value=='open'){
                                return '展开';
                            }else{
                                return '折叠';
                            }
                        }},
                    {field:'actionUrl',title:'事件地址',width:80},
                    {field:'iconCls',title:'图标样式',width:80},
                    {field:'status',title:'记录状态',width:80,
                        formatter: function(value,row,index){
                            if (value=='0'){
                                return '禁用';
                            }else{
                                return '启用';
                            }
                        },
                        styler:function(value,row,index){
                            if (value=='0'){
                                return 'color:red;';
                            }
                        }
                    },
                    {field:'updateTime',title:'更新时间',width:80},
                    {field:'createTime',title:'创建时间',width:80}
                ]
            ],
            toolbar:[
                {
                    text:'添加权限',
                    iconCls:'icon-lock',
                    handler:function () {
                        createDialog();
                    }
                },'-',
                {
                    text:'修改权限',
                    iconCls:'icon-lock',
                    handler:function () {
                        updateDialog();
                    }
                },'-',
                {
                    text:'删除权限',
                    iconCls:'icon-lock',
                    handler:function () {
                        alert('删除')
                    }
                },'-',
                {
                    text:'刷新页面',
                    iconCls:'icon-lock',
                    handler:function () {
                        $('#easyUiPermission').treegrid('reload');
                    }
                }
            ]
        });

        /**
         * 添加对话框
         */
        function createDialog(){
            var dialog = $("<div />").dialog({
                width : 350,
                height : 420,
                modal : true,
                title:'添加权限',
                closable:false,
                href:'/permission/createPermissionForm',
                buttons:[{
                    text:'保存',
                    iconCls:'icon-lock',
                    handler:function(){
                        savePermission(dialog);
                    }
                },{
                    text:'取消',
                    iconCls:'icon-lock',
                    handler:function(){
                        $(dialog).dialog('destroy');
                        $('#easyUiPermission').treegrid('reload');
                    }
                }]

            });
        }

        /**
         * 请求后台添加
         */
        function savePermission(dialog){
           var validateStatus = $('#createPermissionForm').form("validate");
           if(validateStatus){
               $.ajax({
                   url:'/permission/createPermission',
                   type:'POST',
                   data:$('#createPermissionForm').serialize(),
                   success:function(data){
                       $(dialog).dialog('destroy');
                       $('#easyUiPermission').treegrid('reload');
                       $.messager.alert('info','权限添加成功！');
                   },
                   error:function (data) {
                       $.messager.alert('error','权限添失败！');
                   }
               });
           }
        }



        /**
         * 修改对话框
         */
        function updateDialog(){
            var row = $('#easyUiPermission').treegrid('getSelected');
            if(row != null){
                var dialog = $("<div />").dialog({
                    width : 350,
                    height : 420,
                    modal : true,
                    title:'修改权限',
                    closable:false,
                    href:'/permission/updatePermissionForm?id='+row.id,
                    buttons:[{
                        text:'保存',
                        iconCls:'icon-lock',
                        handler:function(){
                            updatePermission(dialog);
                        }
                    },{
                        text:'取消',
                        iconCls:'icon-lock',
                        handler:function(){
                            $(dialog).dialog('destroy');
                            $('#easyUiPermission').treegrid('reload');
                        }
                    }]

                });
            }else{
                $.messager.alert('error','请选择要修改的数据！');
            }
        }

        /**
         * 请求后台修改
         */
        function updatePermission(dialog){
           var validateStatus = $('#createPermissionForm').form("validate");
           if(validateStatus){
               $.ajax({
                   url:'/permission/updatePermission',
                   type:'POST',
                   data:$('#updatePermissionForm').serialize(),
                   success:function(data){
                       $(dialog).dialog('destroy');
                       $('#easyUiPermission').treegrid('reload');
                       $.messager.alert('info','权限添加成功！');
                   },
                   error:function (data) {
                       $.messager.alert('error','权限添失败！');
                   }
               });
           }
        }
    </script>
</body>

</html>