<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <style type="text/css">
        a.action{
            cursor: pointer;
        }
        a.action:hover{
            color: blueviolet;
        }
        a.action:after{
            content: '|';
            margin: 5px;
        }
        a.action:last-child:after{
            content: '';
        }
    </style>
    <table id="easyUiPermission" />

    <script type="text/javascript">

        $('#easyUiPermission').treegrid({
            url:'/permission/getPermissionTreeGrid',
            method:'post',
            loadMsg:'正在加载',
            idField:'id',
            fit:true,
            fitColumns:true,
            rownumbers:true,
            striped:true,
            checkOnSelect:true,
            treeField:'name',
        //    checkbox:true,
         //   onlyLeafCheck:true,
            lines:true,
            animate:true,
            columns:[
                [
                    {field:'name',title:'权限名称',width:80},
                    {title:'唯一标识',field:'id',width:80},
                    {title:'父节点标识',field:'pid',width:80},
                    {field:'actionUrl',title:'事件地址',width:80},
                    {field:'iconCls',title:'图标样式',width:80},
                    {field:'status',title:'记录状态',width:80,
                        formatter: function(value,row,index){
                            if (value=='0'){
                                return '禁用';
                            }else{
                                return '启用';
                            }
                        },
                        styler:function(value,row,index){
                            if (value=='0'){
                                return 'color:red;';
                            }
                        }
                    },
                    {field:'updateTime',title:'更新时间',width:80},
                    {field:'createTime',title:'创建时间',width:80},
                    {field:'action',title:'管理',width:80,formatter:function(value,row,index){
                        var actionBtns = [];
                        actionBtns.push('<a class="action fa fa-edit" onclick="updateDialog('+row.id+')">编辑</a>')
                        actionBtns.push('<a class="action fa fa-trash-o" onclick="deleteDialog('+row.id+')">删除</a>')
                        return actionBtns.join('');
                        }}
                ]
            ],
            toolbar:[
                {
                    text:'添加权限',
                    iconCls:'icon-lock',
                    handler:function () {
                        createDialog();
                    }
                },'-',
                {
                    text:'刷新页面',
                    iconCls:'icon-lock',
                    handler:function () {
                        $('#easyUiPermission').treegrid('reload');
                    }
                }
            ]
        });

        function deleteDialog(id) {
            $.messager.confirm('权限删除', '您确定要删除权限吗？', function(confirm){
                if (confirm){
                    $.ajax({
                        url:'/permission/removePermissionById',
                        type:'POST',
                        data:{id:id},
                        success:function(data){
                            $.messager.alert('成功','权限删除成功！','info');
                            $('#easyUiPermission').treegrid('reload');
                            $('#main_tree').tree('reload');
                        },
                        error:function (data) {
                            $.messager.alert('错误','权限删除失败！','error');
                        }
                    });
                }
            });
        }

        /**
         * 添加对话框
         */
        function createDialog(){
            var dialog = $("<div />").dialog({
                width : 350,
                height : 370,
                modal : true,
                title:'添加权限',
                closable:false,
                href:'/permission/createPermissionForm',
                buttons:[{
                    text:'保存',
                    iconCls:'icon-lock',
                    handler:function(){
                        savePermission(dialog);
                    }
                },{
                    text:'取消',
                    iconCls:'icon-lock',
                    handler:function(){
                        $(dialog).dialog('destroy');
                        $('#easyUiPermission').treegrid('reload');
                    }
                }]

            });
        }

        /**
         * 请求后台添加
         */
        function savePermission(dialog){
           var validateStatus = $('#createPermissionForm').form("validate");
           if(validateStatus){
               $.ajax({
                   url:'/permission/createPermission',
                   type:'POST',
                   data:$('#createPermissionForm').serialize(),
                   success:function(data){
                       $(dialog).dialog('destroy');
                       $('#easyUiPermission').treegrid('reload');
                       $.messager.alert('成功','权限添加成功！','info');
                   },
                   error:function (data) {
                       $.messager.alert('错误','权限添加失败！','error');
                   }
               });
           }
        }

        /**
         * 修改对话框
         */
        function updateDialog(id){
            var dialog = $("<div />").dialog({
                width : 350,
                height : 370,
                modal : true,
                title:'修改权限',
                closable:false,
                href:'/permission/updatePermissionForm?id='+id,
                buttons:[{
                    text:'保存',
                    iconCls:'icon-lock',
                    handler:function(){
                        updatePermission(dialog);
                    }
                },{
                    text:'取消',
                    iconCls:'icon-lock',
                    handler:function(){
                        $(dialog).dialog('destroy');
                        $('#easyUiPermission').treegrid('reload');
                    }
                }]

            });
        }

        /**
         * 请求后台修改
         */
        function updatePermission(dialog){
           var validateStatus = $('#createPermissionForm').form("validate");
           if(validateStatus){
               $.ajax({
                   url:'/permission/updatePermission',
                   type:'POST',
                   data:$('#updatePermissionForm').serialize(),
                   success:function(data){
                       $(dialog).dialog('destroy');
                       $('#easyUiPermission').treegrid('reload');
                       $.messager.alert('成功','权限修改成功！','info');
                       $('#main_tree').tree('reload');
                   },
                   error:function (data) {
                       $.messager.alert('错误','权限修改失败！','error');
                   }
               });
           }
        }
    </script>
</body>

</html>