<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<body>
<style>
    body #updatePermissionForm{
        margin: 20px;
    }

    body #updatePermissionForm div input, body #updatePermissionForm div select{
        width: 200px;
    }

    body #updatePermissionForm div{
        margin-bottom: 20px;
    }

</style>
<form id='updatePermissionForm'>
    <input type="hidden" id="id" name="id" th:value="${permission.id}">
    <div class='form-line'>
        <label for='pid'>父级节点</label>
        <select id="pid" name='pid' class="easyui-combotree" th:data-options="'required:true,value:'+${permission.pid}">
        </select>
    </div>
    <div class='form-line'>
        <label for='name'>权限名称</label>
        <input id='name' class='easyui-textbox' name='name' data-options='required:true' th:value="${permission.name}">
    </div>
    <div class='form-line'>
        <label for='actionUrl'>事件地址</label>
        <input id='actionUrl' class='easyui-textbox' name='actionUrl' data-options='required:true' th:value="${permission.actionUrl}">
    </div>
    <div class='form-line'>
        <label for='icon'>图标样式</label>
        <input id='icon' class='easyui-textbox' name='icon' data-options='required:true' th:value="${permission.icon}">
    </div>
    <div class='form-line'>
        <label for='status'>权限状态</label>
        <input type="hidden" id="status" name="status" th:value="${permission.status}" >
        <input id='statusSwitch' style="width: 80px;" th:data-options="'checked:'+${permission.status=='1'}">
    </div>
</form>

<script type="text/javascript">
    $.ajax({
        url:'/permission/getPermissiones/do',
        type:'POST',
        success:function(data){
            if(data.length > 0){
                pid = data[0].id;
            }
            $("#pid").combotree({
                data:data,
                textField:'name'
            })
        },
        error:function (data) {
            $.messager.alert('error','权限信息获取失败！');
        }
    });

    $('#statusSwitch').switchbutton({
        onText:'启用',
        offText:'禁用',
        onChange:function(checked){
            if(checked){
                $('#status').val('1');
            }else{
                $('#status').val('0');
            }
        }
    })
</script>
</body>