<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="copyright" content="www.crystal-home.cn">
    <meta http-equiv="cache-control" content="no-store">
    <title>DASHBOARD</title>

    <link rel="stylesheet" th:href="@{/jqueryPlugins/bootstrap4/css/bootstrap.min.css}">

    <link id="style" rel="stylesheet" type="text/css" th:href="@{/jqueryPlugins/jquery-easyui-1.7.0/css/easyui-them-gray.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/jqueryPlugins/jquery-easyui-1.7.0/css/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/jqueryPlugins/font-awesome-4.7.0/css/font-awesome.min.css}">
    <script type="text/javascript" th:src="@{/javascript/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/jqueryPlugins/jquery-easyui-1.7.0/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/jqueryPlugins/jquery-easyui-1.7.0/easyui-lang-zh_CN.js}"></script>

    <script type="text/javascript" th:src="@{/jqueryPlugins/bootstrap4/js/bootstrap.min.js}"></script>

</head>
<body class="easyui-layout">

    <!-- 上侧区域 -->
    <div data-options="border:false, split:true, collapsible:false, region:'north', height:35">
        <div style="width: 245px;margin-right: 10px;float: right;">
            <select id="changeStyle" class="easyui-combobox" name="language" label="皮肤主题" style="width:230px" data-options="editable:false">
                <option value="1">默认主题</option>
                <option value="2" selected="selected">灰色主题</option>
                <option value="3">黑色主题</option>
                <option value="4">BootStrap主题</option>
                <option value="5">黑色主题</option>
            </select>
        </div>
    </div>

    <!-- 左侧区域 -->
    <div data-options="border:false, split:true, iconCls:'icon-search', collapsible:false, region:'west',title:'West'" style="width:200px;">
        <ul id="main_tree" class="easyui-tree" data-options="animate:true, lines:false, url:'/initEasyUiTree',method:'post'"></ul>
    </div>

    <!-- 中部内容区 -->
    <div data-options="border:false, fit:false, showHeader:true, split:true, collapsible:false, region:'center', href:'/defaultAction', title:'操作区'">

    </div>
</body>

<script type="text/javascript">

    $("#changeStyle").combobox({
        onChange: function(newValue,oldValue){
            var styleUrl = $("#style").attr('href');
            var value = $(this).combobox('getValue');
            if(value=='1'){
                styleUrl='jqueryPlugins/jquery-easyui-1.7.0/css/easyui-them-default.css';
            }
            if(value=='2'){
                styleUrl='jqueryPlugins/jquery-easyui-1.7.0/css/easyui-them-gray.css';
            }
            if(value=='3'){
                styleUrl='jqueryPlugins/jquery-easyui-1.7.0/css/easyui-them-black.css';
            }
            if(value=='4'){
                styleUrl='jqueryPlugins/jquery-easyui-1.7.0/css/easyui-them-bootstrap.css';
            }
            if(value=='5'){
                styleUrl='jqueryPlugins/jquery-easyui-1.7.0/thems/ui-dark-hive/easyui.css';
            }
            $("#style").attr('href',styleUrl);
        }
    });

    $("#main_tree").tree({
        onSelect: function(node){
            treeSelectEvent(this,node)
        }
    })

    /*主菜单选中事件*/
    function treeSelectEvent(tree,node){
        /*关闭当前选中父节点的兄弟节点*/
        var selfeParent = $(tree).tree('getParent',node.target);
        if(selfeParent != null){
            var siblingNodes = $(tree).tree('getChildren',selfeParent.target);
            for(var i=0;i<siblingNodes.length;i++){
                if(siblingNodes[i].text != node.text){
                    if($(tree).tree('getChildren',siblingNodes[i].target).length>0){
                        $(tree).tree('collapse',siblingNodes[i].target);
                    }
                }else{
                    $(tree).tree('toggle',siblingNodes[i].target);
                }
            }
        }else{
            $(tree).tree('toggle',node.target);
        }

        /*关闭当前选中根节点的兄弟节点*/
        var selfeRoot = $(tree).tree('getParent',node.target);
        if(selfeRoot != null){
            while($(tree).tree('getParent',selfeRoot.target) != null){
                selfeRoot = $(tree).tree('getParent',selfeRoot.target);
            }
        }else{
            selfeRoot = node;
        }
        var roots = $(tree).tree('getRoots');
        for(var i=0;i<roots.length;i++){
            if(selfeRoot.text != roots[i].text){
                $(tree).tree('collapse',roots[i].target);
            }
        }

        /*当前选中节点没有子节点时，触发相应事件*/
        var nodeChildrens=$(tree).tree('getChildren',node.target);
        if(nodeChildrens.length == 0){
            var url = node.attributes.url;
            $("body").layout('panel','center').panel('refresh',url).panel('setTitle',node.text);
        }
    }
</script>

</html>