<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.crystal.dashboard.base.mapper.RoleMapper">

    <!--添加角色-->
    <insert id="createRole" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="cn.crystal.dashboard.base.model.Role">
        INSERT INTO C_TBL_ROLE (NAME, COMMENTS, STATUS, CREATE_TIME, UPDATE_TIME)
        VALUES (#{name}, #{comments}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <!--根据ID修改角色-->
    <update id="updateRoleById" parameterType="cn.crystal.dashboard.base.model.Role">
        update C_TBL_ROLE set NAME=#{name},COMMENTS=#{comments},STATUS=#{status},UPDATE_TIME=#{updateTime} where ID=#{id}
    </update>

    <!--根据ID删除角色-->
    <delete id="removeRoleById" parameterType="java.util.List">
        delete from C_TBL_ROLE where 1>2 or id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--查询所有角色-->
    <select id="getRolees" resultType="cn.crystal.dashboard.base.model.Role">
        select * from C_TBL_ROLE where 1=1
    </select>

    <!--根据ID查询角色-->
    <select id="getRoleById" resultType="cn.crystal.dashboard.base.model.Role">
        select * from C_TBL_ROLE where 1=1 and id=#{id}
    </select>

    <!--根据ID查询角色权限-->
    <select id="getRolePermissionById" resultType="cn.crystal.dashboard.base.model.PermissionRole">
        SELECT
        p.ID permissionId, p.PID permissionPid, p.NAME permissionName,

        p.ACTION_URL permissionActionUrl, p.ICON permissionIcon, r.ID roleId,

        r.NAME roleName, r.COMMENTS roleComments,
        (CASE WHEN r.id IS NULL THEN 'false' ELSE 'true' END) 'checked'

        FROM c_tbl_role_permission rp

        RIGHT JOIN  c_tbl_permission p  ON rp.PERMISSION_ID = p.ID

        LEFT JOIN  c_tbl_role r ON rp.ROLE_ID = r.ID AND rp.ROLE_ID=#{id}
    </select>

    <!--根据角色ID删除角色权限-->
    <delete id="removeRolePermissionByRoleId" >
        delete from c_tbl_role_permission where 1>2 or ROLE_ID = #{roleId}
    </delete>

    <!--根据ID添加角色权限-->
    <insert id="createRolePermissionByRoleId" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="java.util.List">
        INSERT INTO c_tbl_role_permission(ROLE_ID,PERMISSION_ID,CREATE_TIME,UPDATE_TIME)
        VALUES
        <foreach collection="list" item="roleMidPermission" index="index" separator=",">
            (#{roleMidPermission.roleId},#{roleMidPermission.permissionId},#{roleMidPermission.createTime},#{roleMidPermission.updateTime})
        </foreach>
    </insert>


</mapper>
